<div class="sidebar">
    <div class="sidebar-header">
      <a href="../" class="sidebar-logo">Duplikium</a>
    </div><!-- sidebar-header -->
    <div id="sidebarMenu" class="sidebar-body">
      <div class="nav-group show">       
        <ul class="nav nav-sidebar">
          <li class="nav-item">
            <a href="#connectAccount" class="nav-link"><i class="ri-pie-chart-2-line"></i> <span>Connection</span></a>
          </li>
          <li class="nav-item">
            <a href="#mastersAccount" class="nav-link"><i class="ri-line-chart-line"></i> <span>Master Accounts</span></a>
          </li>
          <li class="nav-item">
            <a href="#slavesAccount" class="nav-link"><i class="ri-calendar-todo-line"></i> <span>Slave Accounts</span></a>
          </li>            
        </ul>
      </div><!-- nav-group -->
      <div class="nav-group show">
        <a href="#" class="nav-label">Help Center</a>
        <ul class="nav nav-sidebar">          
          <li class="nav-item">
            <a href="" class="nav-link"><i class="ri-gallery-line"></i> <span>Features</span></a>           
          </li>
          <li class="nav-item">
            <a href="" class="nav-link"><i class="ri-question-mark"></i> <span>How To</span></a>            
          </li>         
        </ul>
      </div>      
    </div>    
  </div><!-- sidebar -->