<div class="sidebar">
    <div class="sidebar-header">
      <a href="../" class="sidebar-logo">Duplikium</a>
    </div><!-- sidebar-header -->
    <div id="sidebarMenu" class="sidebar-body">
      <div class="nav-group show">       
        <ul class="nav nav-sidebar">
          <li class="nav-item">
            <a href="" class="nav-link"><i class="ri-pie-chart-2-line"></i> <span>Cockpit</span></a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link"><i class="ri-line-chart-line"></i> <span>Reporting</span></a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link"><i class="ri-calendar-todo-line"></i> <span>Templates</span></a>
          </li>            
        </ul>
      </div><!-- nav-group -->
      <div class="nav-group show">
        <a href="#" class="nav-label">Help Center</a>
        <ul class="nav nav-sidebar">          
          <li class="nav-item">
            <a href="" class="nav-link has-sub"><i class="ri-gallery-line"></i> <span>Features</span></a>
            <nav class="nav nav-sub">
              <a href="../apps/gallery-music.html" class="nav-sub-link">Music Stream</a>
              <a href="../apps/gallery-video.html" class="nav-sub-link">Video Stream</a>
            </nav>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link has-sub"><i class="ri-question-mark"></i> <span>How To</span></a>
            <nav class="nav nav-sub">
              <a href="../apps/gallery-music.html" class="nav-sub-link">Music Stream</a>
              <a href="../apps/gallery-video.html" class="nav-sub-link">Video Stream</a>
            </nav>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link has-sub"><i class="ri-exchange-dollar-line"></i> <span>Pricing</span></a>
            <nav class="nav nav-sub">
              <a href="../apps/gallery-music.html" class="nav-sub-link">Music Stream</a>
              <a href="../apps/gallery-video.html" class="nav-sub-link">Video Stream</a>
            </nav>
          </li>
        </ul>
      </div>      
    </div>    
  </div><!-- sidebar -->